.label {
  color: #253336;
  font-size: 13px;
  display: block;
  margin-bottom: 10px;
}

.input[type="text"],
.input[type="number"],
.input[type="date"] {
  font-size: 16px;
  padding: 10px;
  color: #788F9E;
  border: 2px solid #E7ECEF;
  border-radius: 4px;
  margin-bottom: 25px;
  width: 100%;
}

.input[type="date"] {
  max-width: 320px;
}
