.button,
.button:enabled:hover,
.button:active {
  font-size: 13px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  color: white;
  border-radius: 20px;
  width: 100%;
  background: #008FD3;
  text-align: center;
  box-shadow: none;
  border: 0;
}

.button:enabled:hover {
  opacity: 0.9;
}

.button:active {
  opacity: 0.8;
}
