.root {
  lost-column: 1/6;
  box-sizing: border-box;
  height: 100%;
  color: white;
  text-align: center;
  padding-top: 160px;
}

.fiveDays {
  lost-column: 1/5;
}

.isToday {
  background: rgba(255,255,255,0.2);
}

.dayOfTheWeek {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.date {
  font-size: 16px;
}

.wrapper {
  position: relative;
  margin-top: 20px;
}

.barWrapper {
  position: relative;
  display: inline-flex;
  float: right;
  width: 12.5%;
  height: 400px;
}

.root:last-child .barWrapper {
  float: left;
}

.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  margin: 2px;
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: -150px;
  width: 300px;
  background: #E57066;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  color: black;
  font-size: 24px;
  font-weight: bold;

  h3 {
    color: white;
    font-size: 16px;
    margin: 12px 0px;
  }

  .units {
    font-size: 14px;
  }

  .col {
    lost-column: 1/2;
  }
}

.barWrapper:hover {
  .bar {
    background: #E57066;
  }

  .popup {
    display: block;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 5px;
    width: 20%;
    left: 50%;
    margin-left: -10%;
    background: #E57066;
  }
}
