.dashboard {
  font-family: Helvetica;
  background: url('../../assets/background.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.opacity {
  background: rgba(0,0,0,.2);
  height: 100%;
}

.daysWrapper {
  lost-utility: clearfix;
  height: 100%;
  padding: 0 100px;
}
